* {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background-image: url(fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedor {
  width: 300px;
  padding: 0px;
  border-radius: 5px;
  text-align: center;
  margin: 50px auto;
}

.contenedor input[type="text"],
.contenedor button[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #fff;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 10px;
  transition: 0.25s;
}

.contenedor button[type="submit"] {
  border: 0;
  background: #fff;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #fff;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 10px;
  transition: 0.25s;
  cursor: pointer;
}
.contenedor button[type="submit"]:hover {
  background: none;
  color: #fff;
}

.img {
  width: 150px;
  height: 150px;
}

.contenedor_img_pika {
  position: absolute;
  bottom: 70px;
  transition: 20s ease;
  transform: translate(1200px, 0);
}

.ok {
  display: block;
  margin: auto;
}
